body{
	margin: 0;
	padding: 0;
}

.navigation {
	width: 100%;
	height: auto;
	background: black;
	
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}


.navi li{
	float: left;
}

ul li{
	display: inline-block;
    list-style-type: none;
    text-decoration: none;
    position: relative;
    left: 69%;
}

ul li a{
	text-align: center;
	padding: 7px;
	display: inline-block;
	color: white;
	text-decoration: none;
}

ul li a:hover{
	background-color: red;

}

#current{
	background-color: red;
	color: white;
}

.navi{
	float: right
}